.table-responsive {
	width: 80%;
	display: flex;
	justify-content: center;
	padding-left: 170px;
}

.title {
	font-size: 30px;
	font-weight: bold;
	font-family:Verdana;
	color: black;
}

.deleteButton {
	width: 35px;
	cursor: pointer;
}

.checkBox {
	display: flex;
	padding-top: 46px;
	padding-left: 20px
}

.date {
	font-size: 28px;
	font-family:Verdana;
	font-weight: bold;
}
